<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>iPhone 7 Plus</string>
		<key>identifier</key>
		<string>iPhone9,4</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_T8010</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5ec178</string>
			<key>kernproc</key>
			<string>0x5f20e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 7</string>
		<key>identifier</key>
		<string>iPhone9,3</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b100</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_T8010</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5ec178</string>
			<key>kernproc</key>
			<string>0x5f20e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 7</string>
		<key>identifier</key>
		<string>iPhone9,1</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_T8010</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5ec178</string>
			<key>kernproc</key>
			<string>0x5f20e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone SE</string>
		<key>identifier</key>
		<string>iPhone8,4</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_S8000</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5a4148</string>
			<key>kernproc</key>
			<string>0x5aa0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6s Plus</string>
		<key>identifier</key>
		<string>iPhone8,2</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_S8000</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5a4148</string>
			<key>kernproc</key>
			<string>0x5aa0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6s</string>
		<key>identifier</key>
		<string>iPhone8,1</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_S8000</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5a4148</string>
			<key>kernproc</key>
			<string>0x5aa0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6</string>
		<key>identifier</key>
		<string>iPhone7,2</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b100</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_S8000</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5a4148</string>
			<key>kernproc</key>
			<string>0x5aa0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 6 Plus</string>
		<key>identifier</key>
		<string>iPhone7,1</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b100</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_S8000</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5a4148</string>
			<key>kernproc</key>
			<string>0x5aa0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPhone 5s</string>
		<key>identifier</key>
		<string>iPhone6,1</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_S5L8960X</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5a4128</string>
			<key>kernproc</key>
			<string>0x5aa0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPad Pro (12.9 inch)</string>
		<key>identifier</key>
		<string>iPad6,8</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_S8000</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5a4148</string>
			<key>kernproc</key>
			<string>0x5aa0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPad Pro (9.7 inch)</string>
		<key>identifier</key>
		<string>iPad6,4</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_S8000</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5a4148</string>
			<key>kernproc</key>
			<string>0x5aa0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPad Pro (9.7 inch)</string>
		<key>identifier</key>
		<string>iPad6,3</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_S8000</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5a4148</string>
			<key>kernproc</key>
			<string>0x5aa0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPad Air 2</string>
		<key>identifier</key>
		<string>iPad5,4</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b100</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_T7000</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5b4168</string>
			<key>kernproc</key>
			<string>0x5ba0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPad mini 4</string>
		<key>identifier</key>
		<string>iPad5,1</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_T7000</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5b4168</string>
			<key>kernproc</key>
			<string>0x5ba0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPad Air</string>
		<key>identifier</key>
		<string>iPad4,3</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_S5L8960X</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5a4128</string>
			<key>kernproc</key>
			<string>0x5aa0e0</string>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>iPod Touch 6G</string>
		<key>identifier</key>
		<string>iPod7,1</string>
		<key>version</key>
		<string>10.1.1</string>
		<key>build</key>
		<string>14b150</string>
		<key>kernel</key>
		<string>root:xnu-3789.22.3~1/RELEASE_ARM64_T7000</string>
		<key>offsets</key>
		<dict>
			<key>allproc</key>
			<string>0x5b4168</string>
			<key>kernproc</key>
			<string>0x5ba0e0</string>
		</dict>
	</dict>
</array>
</plist>
